*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.header {
  height: 70vh;
  position: relative;
}

.header__after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -99;
  width: 100%;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6rem 0 2rem 0;
}

.nav__logo {
  width: 100%;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  list-style: none;
}

.nav__item:not(:first-child) {
  margin-left: 1.5rem;
}

.nav__link:link, .nav__link:active, .nav__link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: capitalize;
  color: #263546;
  padding: 2rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav__link:link:hover, .nav__link:active:hover, .nav__link:visited:hover {
  color: #0078FF;
}
