.text__center {
  text-align: center;
}

.text__right {
  text-align: right;
}

.box__shadow {
  -webkit-box-shadow: 0 45px 51px 2rem rgba(0, 0, 0, 0.075);
          box-shadow: 0 45px 51px 2rem rgba(0, 0, 0, 0.075);
}

.text-white {
  color: #ffff !important;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.description {
  color: #7E7E7E;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2;
}

.description--light {
  color: #fff;
}

.section__heading {
  font-size: 2.7rem;
  color: #263546;
  font-weight: 600;
  line-height: 1.7;
}

.section__heading--light {
  color: #fff;
}

.secondary__heading {
  font-weight: 200;
  font-size: 3.5rem;
  color: #2B3847;
  margin-bottom: 2.5rem;
  position: relative;
}

.secondary__heading--after__left::after, .secondary__heading--after__right::after {
  position: absolute;
  top: -2rem;
  left: 0;
  content: '';
  width: 4rem;
  height: .6rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#2EC1FB), to(#2278F9));
  background-image: linear-gradient(to right, #2EC1FB, #2278F9);
  border-radius: 50px;
  -webkit-box-shadow: 0 0rem 2rem #2ec1fbc2;
          box-shadow: 0 0rem 2rem #2ec1fbc2;
}

.secondary__heading--after__right::after {
  left: auto;
  right: 0;
}

.btn {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 1.6rem 3rem;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 5rem;
  display: inline-block;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 1;
}

.btn i {
  font-size: 1rem;
  margin-left: .6rem;
  opacity: .5;
  color: #fff;
}

.btn--color {
  color: #fff;
  position: relative;
}

.btn--color::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#00C5FF), to(#0074FF));
  background-image: linear-gradient(to right, #00C5FF, #0074FF);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn--color:hover::after {
  -webkit-filter: hue-rotate(30deg);
          filter: hue-rotate(30deg);
}

.btn--color--shadow {
  -webkit-box-shadow: 0px 0 6rem .7rem #00bfff6b;
          box-shadow: 0px 0 6rem .7rem #00bfff6b;
}

.btn--price {
  padding: 1rem 2rem;
  -webkit-box-shadow: 0 0 3rem rgba(0, 0, 0, 0.145);
          box-shadow: 0 0 3rem rgba(0, 0, 0, 0.145);
}

.btn--white {
  background-image: none;
  background-color: #fff;
  color: #0082FF;
  -webkit-box-shadow: 0 0 3rem rgba(255, 255, 255, 0.232);
          box-shadow: 0 0 3rem rgba(255, 255, 255, 0.232);
}

.btn--white::after {
  background-image: none;
}

.row {
  max-width: 114rem;
  width: 95%;
  margin: 0 auto;
}

.row--fullwidth {
  max-width: 125rem;
  width: 95%;
  margin: 0 auto;
}

.header {
  position: relative;
}

.header .row {
  max-width: 100rem;
}

.header__after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -99;
  width: 100%;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8rem 0rem 30rem 0rem;
}

.header__text {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.header__title {
  color: #2B3847;
  font-size: 4.4rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.4;
  margin-bottom: 1.5rem;
}

.header__imgbox {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.header__img {
  width: 100%;
  max-width: 70rem;
}

.header__appbtn {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__appbtn a:first-child {
  margin-right: 2rem;
}

.header__appimg {
  width: 100%;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6rem 0 2rem 0;
}

.nav__logo {
  width: 100%;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  list-style: none;
}

.nav__link:link, .nav__link:active, .nav__link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: capitalize;
  color: #263546;
  padding: 2rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav__link:link:hover, .nav__link:active:hover, .nav__link:visited:hover {
  color: #0078FF;
}

.services {
  padding-bottom: 10rem;
}

.services__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__box {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
}

.services__box:not(:first-child) {
  margin-left: 6rem;
  text-align: center;
}

.services__img {
  width: 100%;
}

.services__heading {
  text-transform: capitalize;
  font-size: 1.6rem;
  color: #263546;
  font-weight: 500;
  text-transform: capitalize;
  margin-top: 1.8rem;
}

.services .description {
  margin: 2.5rem 0 2.5rem 0;
}

.introduction {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(12, 133, 254, 0.925)), to(rgba(11, 189, 254, 0.932))), url(../../src/img/introduction.jpg);
  background-image: linear-gradient(to right, rgba(12, 133, 254, 0.925), rgba(11, 189, 254, 0.932)), url(../../src/img/introduction.jpg);
  background-size: cover;
  background-position: bottom center;
  text-align: center;
  padding-top: 8rem;
  margin-bottom: 15rem;
}

.introduction .section__heading {
  max-width: 36rem;
  margin: 0 auto;
}

.introduction .description {
  max-width: 75rem;
  margin: 3rem auto;
}

.introduction__video {
  max-width: 60rem;
  margin: 0 auto;
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
  margin-top: -8rem;
}

.introduction__video iframe {
  width: 100%;
  border-radius: 10px;
}

.information {
  padding-top: 5rem;
  padding-bottom: 20rem;
}

.information__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.information__textbox {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
}

.information__imgbox {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
  position: relative;
}

.information__imgbox::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 30rem;
  height: 12rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#2EC2F8), to(#237EF9));
  background-image: linear-gradient(to right, #2EC2F8, #237EF9);
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  border-radius: 30px 0 0 30px;
  z-index: -1;
  -webkit-box-shadow: 0 0rem 3rem #2ec1fb54;
          box-shadow: 0 0rem 3rem #2ec1fb54;
}

.information__img {
  width: 100%;
  position: relative;
}

.social {
  padding-bottom: 20rem;
  position: relative;
}

.social__after {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
  width: 100%;
  max-width: 50rem;
}

.social__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__imgbox {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

.social__textbox {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
}

.social__img {
  width: 100%;
}

.connect {
  padding-bottom: 18rem;
  position: relative;
}

.connect__after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 35rem;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
  z-index: -1;
}

.connect__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.connect__textbox {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
}

.connect__imgbox2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.connect__imgbox2 .description {
  margin: 3rem 0 3rem 0;
}

.connect__img {
  width: 100%;
}

.connect__img2 {
  width: 100%;
}

.support {
  padding-bottom: 16rem;
}

.support__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 90rem;
  padding: 4rem 6rem;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, right top, from(#00C6FF), to(#0072FF));
  background-image: linear-gradient(to right, #00C6FF, #0072FF);
  border-radius: 50px;
  -webkit-box-shadow: 2px 3rem 7rem -2rem rgba(0, 162, 255, 0.788);
          box-shadow: 2px 3rem 7rem -2rem rgba(0, 162, 255, 0.788);
}

.support__box {
  text-align: center;
  padding: 0 5rem;
}

.support__box:not(:first-child) {
  border-left: 1px solid #D9E4E8;
}

.support__heading {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: .7rem;
}

.support__description {
  color: #474747;
  font-size: 1.3rem;
}

.support__img {
  margin-bottom: 1.4rem;
}

.pricing {
  margin-bottom: 10rem;
}

.pricing__textbox {
  text-align: center;
  max-width: 55rem;
  margin: auto;
}

.pricing .section__heading {
  margin-bottom: 2rem;
}

.pricing__flex {
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricing__box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32%;
          flex: 0 0 32%;
  border-radius: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  z-index: 2;
}

.pricing__box:first-child {
  margin-right: -2rem;
}

.pricing__box:last-child {
  margin-left: -2rem;
}

.pricing__box--large {
  position: relative;
  z-index: 9;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36%;
          flex: 0 0 36%;
}

.pricing__box--large .pricing__head {
  background-color: #fff;
  border-bottom: none;
  margin: 0;
  padding: 3rem 5rem 3rem 5rem;
  border-radius: 10px 10px 0px 0px;
}

.pricing__box--large .pricing__body {
  background-image: linear-gradient(10deg, #0079FF, #00C1FF);
  border-radius: 0 0px 10px 10px;
}

.pricing__box--large .pricing__item {
  color: #fff;
}

.pricing__box--large .pricing__item::before {
  color: #fff;
}

.pricing__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0rem 3rem 0rem;
  margin: 0 5rem 0 5rem;
  border-bottom: 2px solid #DDDDDD;
}

.pricing__body {
  padding: 4rem 5rem 5rem 5rem;
}

.pricing__title {
  color: #ADACAC;
  text-transform: capitalize;
  font-size: 3.4rem;
  font-weight: 700;
}

.pricing__title--colored {
  color: #00ABFF;
}

.pricing__price {
  font-size: 2rem;
  color: #000;
  font-weight: 600;
}

.pricing__price--colored {
  color: #33CC66;
}

.pricing__text {
  font-size: 1.3rem;
  color: #5D5D5D;
  font-weight: 500;
  margin-bottom: 4rem;
}

.pricing__list {
  list-style: none;
  margin-bottom: 3rem;
}

.pricing__item {
  font-size: 1.3rem;
  color: #5D5D5D;
  font-weight: 500;
  margin-bottom: 1.3rem;
  padding-left: 2.5rem;
  position: relative;
}

.pricing__item::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  background-image: -webkit-gradient(linear, left top, right top, from(#0073FF), to(#00C5FF));
  background-image: linear-gradient(to right, #0073FF, #00C5FF);
  background-clip: text;
  color: transparent;
}

.pricing__bottom {
  margin-top: 13rem;
}

.pricing__bottom .btn {
  padding: 1.5rem 4rem;
  margin-top: 2rem;
}

.footer {
  padding: 13rem 7rem 3rem 7rem;
  background-image: url(../../src/img/footer__bg.png);
  background-size: 110%;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__col--large {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.footer__title {
  color: #263546;
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-bottom: 1.4rem;
}

.footer__list {
  list-style: none;
}

.footer__item {
  text-transform: capitalize;
}

.footer__link:link, .footer__link:visited {
  color: #808080;
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
  padding: .45rem 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer__link:link:hover, .footer__link:visited:hover {
  color: #0074FF;
}

.footer__bottom {
  margin-top: 2rem;
}

.footer__bottom-text {
  color: #263546;
  font-weight: 400;
  font-size: 1.3rem;
}
