.footer{

    padding: 10rem 7rem 2rem 7rem;
    position: relative;


    &__bg{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 110%;
        z-index: -1;
    }

    &__flex{
        display: flex;
        justify-content: space-between;
        max-width: 95rem;
        margin: 0 auto;
    }

    &__col{

        &--large{
            flex: 0 0 40%;
        }
        
    }

    &__title{
        color: #263546;
        font-weight: 500;
        font-size: 1.5rem;
        text-transform: capitalize;
        margin-bottom: 1.4rem;
    }

    &__list{
        list-style: none;
    }

    &__item{
        text-transform: capitalize;
    }

    &__link:link,
    &__link:visited{
        color: #808080;
        font-size: 1.4rem;
        font-weight: 300;
        text-decoration: none;
        display: inline-block;
        padding: .45rem 0;
        transition: .3s;

        &:hover{
            color: #0074FF;
        }
    }

    &__bottom{

        margin-top: 2rem;

        &-text{
            color: #263546;
            font-weight: 400;
            font-size: 1.3rem;
        }
    
    }

}