.header{
    height: 70vh;
    position: relative;

    &__after{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -99;
        width: 100%;
    }

    &__box{
        display: flex;
        justify-content: space-between;
    }

    &__text{

    }

    &__title{

    }

    &__imgbox{

    }

    &__img{

    }


}