.header{

    position: relative;

    @include respond(1200px){
        background-image: linear-gradient(to left , #0074FF , #00C5FF);

        .description{
            color: #fff;
        }
    }

    .row{
        max-width: 95rem;
        
    }
    &__after{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -99;
        width: 100%;

        @include respond(1200px){
            display: none;
        }
    }

    &__box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8rem 0rem 30rem 0rem;

        @include respond(1200px){
            padding-bottom: 10rem;
            padding-top: 5rem;
        }

        @include respond(600px){
            flex-direction: column-reverse;
            padding: 10rem 0rem 13rem 0rem;
        }

        @include respond(400px){
            padding: 4rem 0rem 8rem 0rem;
        }
    }

    &__text{
        flex:50%;

        @include respond(600px){
            text-align: center;
        }
    }

    &__title{
        color: #2B3847;
        font-size: 4.4rem;
        font-weight: 400;
        text-transform: capitalize;
        line-height: 1.4;
        margin-bottom: 1.5rem;

        @include respond(1200px){
            color: #fff;
        }

        @include respond(700px){
            font-size: 3.5rem;
        }
    }

    &__imgbox{
        flex:50%;

        @include respond(600px){
            text-align: center;
            margin-bottom: 5rem;
         }
    }

    &__img{
        width: 100%;
        max-width: 70rem;

        @include respond(600px){
           width: 70%;
        }
    }

    &__appbtn{
        margin-top: 3rem;
        display: flex;

        @include respond(600px){
            justify-content: center;
        }

        a:first-child{
            margin-right: 2rem;
        }
    }

    &__appimg{
        width: 100%;
    }




}