.information{

    padding-top: 5rem;
    padding-bottom: 20rem;
    
    &__flex{
        display: flex;
        margin-top: 10rem;
        align-items: center;
        justify-content: space-between;

    }

    &__textbox{
        flex:0 0 35%;

        @include respond(1100px){
            flex: 0 0 40%;
        }
    }   

    &__imgbox{
        flex:0 0 55%;
        position: relative;
                
        &::after{
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 40rem;
            height: 12rem;
            background-image: linear-gradient(to right , #2EC2F8 , #237EF9);
            transform: translate(50%, -50%);
            border-radius: 30px 30px;
            z-index: -1;
            box-shadow: 0 0rem 3rem #2ec1fb54;
        }

    }

    &__img{
        width: 100%;
        position: relative;
    }


}