.nav{

    display: flex;
    justify-content: space-between;
    padding: 5rem 0 2rem 0;


    &__logo{
        width: 100%;

        @include respond(900px){
            width: 80%;
        }
    }

    &__list{
        display: flex;
        align-items: center;

        @include respond(900px){
            display: none;
        }
    }

    &__item{
        list-style: none;

        &:not(:first-child){
            // margin-left: 0rem;
        }
    }

    &__link:link,
    &__link:active,
    &__link:visited{
        text-decoration: none;
        font-size: 1.6rem;
        text-transform: capitalize;
        color: #263546;
        padding: 2rem;
        transition: .3s;

        @include respond(1200px){
            color: #fff;
        }

        &:hover{
            color: #0078FF;

            @include respond(1200px){
                color: #444;
            }

        }
    }


}