.services{

    padding-bottom: 10rem;

    @include respond(1200px){
        padding-top: 10rem;
    }

    &__flex{
        display: flex;
        align-items: center;

        @include respond(900px){
            flex-wrap:wrap ;
        }

        @include respond(1100px){
            align-items: start;
        }

        @include respond(500px){
            justify-content: center;
        }
    }

    &__box{

        flex: 20%;

        &:not(:first-child){
            margin-left: 6rem;
            text-align: center;

            @include respond(900px){
                margin-left: 0rem;
            }

            @include respond(500px){
                flex: 0 0 45%;
                margin-bottom: 2rem;
            }
        }

        @include respond(1100px){
            &:first-child{
                flex: 0 0 30%;

                @include respond(900px){
                    flex: 0 0 100%;
                    text-align: center;
                    margin-bottom: 4rem;
                }
            }
        }
    }

    &__img{
        width: 100%;

        @include respond(900px){
            width: 80%;
        }
    }

    &__heading{
        text-transform: capitalize;
        font-size: 1.6rem;
        color: #263546;
        font-weight: 500;
        text-transform: capitalize;
        margin-top: 1.8rem;
    }

    .description{
        margin: 2.5rem 0 2.5rem 0;
  
        @include respond(1100px){
            margin: 1.5rem 0 1.5rem 0;
        }
    }


}