.social{

    padding-bottom: 20rem;
    position: relative;

    @include respond(700px){
        padding-bottom: 14rem;
    }

    &__after{
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-50%);
        z-index: -1;
        width: 30%;
        // max-width: 50rem;
    }

    &__flex{
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include respond(700px){
            flex-direction: column;
        }
    }

    &__imgbox{
        flex: 0 0 55%;

        @include respond(700px){
            margin-bottom: 8rem;
        }
    }

    &__textbox{
        flex: 0 0 35%;

        @include respond(1100px){
            flex: 0 0 40%;
        }
    }

    &__img{
        width: 100%;
    }
}      