



*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html{
    font-size: 62.5%;
    box-sizing: border-box;

    @include respond(1200px){
        font-size: 58%;
    }

    @include respond(1100px){
        font-size: 55%;
    }

    @include respond(1000px){
        font-size: 50%;
    }

    ::selection{
        background-color: #555;
        color: #fff;
    }
}


body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

  
