



*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html{
    font-size: 62.5%;
    box-sizing: border-box;
    ::selection{
        background-color: #555;
        color: #fff;
    }
}


body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

  
