
.description{
    color: #7E7E7E;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2;
}


.section__heading{
    text-transform: capitalize;
    font-size: 2.7rem;
    color: #263546;
    font-weight: 600;
    line-height: 1.7;


    &--white{
        color: #fff;
    }
}

